services:
  redis:
    image: "redis/redis-stack-server:latest"
    container_name: "redis"
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    command:
      [
        "redis-server",
        "--appendonly",
        "yes",
        "--requirepass",
        "${REDIS_PASSWORD}",
      ]
    env_file:
      - .env
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "redis-cli -a $$REDIS_PASSWORD ping | grep PONG"]
      interval: 10s
      timeout: 3s
      retries: 5
  firestore:
    build: ./deployments/firebase
    container_name: firestore-emulator
    working_dir: /data
    command: >
      emulators:start --only firestore
      --project ${GOOGLE_CLOUD_PROJECT}
      --import=/data/backup
      --export-on-exit=/data/backup
    ports:
      - "8080:8080"
      - "4000:4000" # mở nếu bật Emulator UI
    volumes:
      - ./deployments/firebase/firebase.json:/data/firebase.json:ro
      - firestore-data:/data
    restart: unless-stopped
    healthcheck:
      test:
        ["CMD-SHELL", "curl -fsS http://127.0.0.1:8080/ >/dev/null || exit 1"]
      interval: 10s
      timeout: 3s
      retries: 10
  loki:
    image: grafana/loki:latest
    container_name: loki
    command: ["-config.file=/etc/loki/loki.yml"]
    ports:
      - "3100:3100"
    volumes:
      - ./deployments/observability/loki.yml:/etc/loki/loki.yml:ro
      - loki-data:/loki
    restart: unless-stopped
  tempo:
    image: grafana/tempo:latest
    container_name: tempo
    command: ["-config.file=/etc/tempo/tempo.yml"]
    volumes:
      - ./deployments/observability/tempo.yml:/etc/tempo/tempo.yml:ro
      - tempo-data:/var/tempo/traces
    restart: unless-stopped
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./deployments/observability/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - prometheus-data:/prometheus
    restart: unless-stopped
  otel-collector:
    image: otel/opentelemetry-collector-contrib:latest
    container_name: otel-collector
    command: ["--config=/etc/otel-collector.yml"]
    volumes:
      - ./deployments/observability/otel-collector.yml:/etc/otel-collector.yml:ro
    ports:
      - "4317:4317"
    depends_on:
      - prometheus
      - loki
      - tempo
    restart: unless-stopped
  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    depends_on:
      - tempo
      - prometheus
      - loki
    environment:
      - GF_SECURITY_ADMIN_USER=${GF_ADMIN_USER}
      - GF_SECURITY_ADMIN_PASSWORD=${GF_ADMIN_PASSSWORD}
    restart: unless-stopped
volumes:
  redis-data:
  firestore-data:
  tempo-data:
  prometheus-data:
  loki-data:
