services:
  redis:
    image: "redis/redis-stack-server:latest"
    container_name: "redis"
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    command:
      [
        "redis-server",
        "--appendonly",
        "yes",
        "--requirepass",
        "${REDIS_PASSWORD}",
      ]
    env_file:
      - .env
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "redis-cli -a $$REDIS_PASSWORD ping | grep PONG"]
      interval: 10s
      timeout: 3s
      retries: 5
  firestore:
    build: .
    container_name: firestore-emulator
    working_dir: /data
    command: >
      emulators:start --only firestore
      --project dae-project
      --import=/data/backup
      --export-on-exit=/data/backup
    ports:
      - "8080:8080" # Firestore
      - "4000:4000" # mở nếu bật Emulator UI trong firebase.json
    volumes:
      - ./firebase.json:/data/firebase.json:ro # Config only
      - firestore-data:/data # persist dữ liệu
    restart: unless-stopped
    healthcheck:
      test:
        ["CMD-SHELL", "curl -fsS http://127.0.0.1:8080/ >/dev/null || exit 1"]
      interval: 10s
      timeout: 3s
      retries: 10
volumes:
  redis-data:
  firestore-data:
